Created on {{ ansible_date_time.time }} {{ ansible_date_time.date }}
--------
{% for x in your_list_of_results %}
{{ x }}
{% endfor %}
--------

{{ some_other_variable }}

and lots of other variables if need be...
